<launch>

  <!--Rosserial node-->
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
    <param name="~port" value="/dev/ttyACM0" />
    <param name="~baud" value="57600" />
  </node>

  <!--announcer node-->
  <node name="voice_node" pkg="sound_play" type="soundplay_node.py" output="screen">
  </node>  
  
 
  <!--teleoperation node-->
  <node name="teleop_key" pkg="teleop" type="teleop_key.py" output="screen">
  </node>
 
</launch>

